*.apk
*.ap_
*.class
.DS_Store
/bin
/gen

bin/classes.dex

bin/classes/edu/upenn/cis350/R$id.class

bin/classes/edu/upenn/cis350/R$layout.class

bin/classes/edu/upenn/cis350/R$string.class

bin/classes.dex

bin/classes/edu/upenn/cis350/R$id.class

bin/classes/edu/upenn/cis350/R$layout.class

bin/classes/edu/upenn/cis350/R$string.class
